
*{
    margin: 0;
    padding: 0;
} 
body{
    background-color: rgb(245, 248, 248);
}
.container{
    margin: auto;
    height: 18vh;
    background-color:  #0a499b; 
}
.logo{
    width: 26%;
    margin-left: 300px;
    display: flex;
}
.logo img{
    width: 35%;
    margin-top: 10px;
    display: flex;
}
.comment{
    color: white;
    margin: -120px 500px;
    display: flex;
    flex-direction: column;
}
a{
    color: white;
    font-size: 19px;
    font-weight: lighter;
    text-decoration: none;
    padding: 5px;
}
h1{
    font-size: 19px;
}
.content{
    margin: 60px 350px;
    height: 35vh;
    width: 800px;
    background-color: white;
}
.contact{
    padding: 90px 90px 0 90px;
}
.contact h2{
    font-weight: lighter;
    font-size: xx-large;
    color: rgb(54, 51, 51);
    margin-bottom: 20px;
}
.contact h3{
    line-height: 2;
    color:  #3a3a3a;
    font-size: medium;   
    font-weight: lighter;
}
.contact li{
    line-height: 2;
    color:  #3a3a3a;
    font-size: medium;   
    font-weight: lighter;

}
.contact a:hover{
    transition: 0.2s ease-in;
    color: #3a3a3a;
}
